:root {
  --bg-color: #f0f0f0;
  --text-light: #1f5c97;
  --text-dark: #143a5f;
  --black: #000000;
  --highlight-light: #f7895c;
  --highlight: #df603a;
  --highlight-dark: #9c4a3b;
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --border-radius: 8px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-dark);
}

/* Header estilo hero con intro */
.hero-header {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
    349deg,
    var(--highlight-light) 0%,
    var(--highlight) 100%
  );
  color: white;
  text-align: center;
  padding: 20px;
}
.hero-content {
  max-width: 800px;
}
.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}
.hero-content h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 30px;
}
.hero-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 50px;
  margin-top: 50px;
}
.quien {
  color: var(--text-dark);
  text-decoration: none;
}
.quien:hover {
  color: var(--text-light);
  text-decoration: underline;
}
.explore-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.2rem;
  color: white;
  background-color: var(--highlight-dark);
  border-radius: var(--border-radius);
  text-decoration: none;
  transition: ease-in-out 0.3s ease;
}
.explore-btn:hover {
  background-color: var(--highlight);
}
@media screen and (max-width: 768px) {
  .hero-header {
    height: auto;
    padding: 60px 20px;
  }
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .hero-content h2 {
    font-size: 1.5rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
  .explore-btn {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
/* Estilos de la línea de tiempo */
main {
  display: flex;
  justify-content: center;
  padding: 40px 20px;
}
.timeline-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
.timeline {
  position: relative;
  max-width: 900px;
  padding: 20px 0;
}
.timeline::after {
  content: "";
  position: absolute;
  width: 4px;
  background: var(--text-light);
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.timeline-item {
  position: relative;
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 48%;
  min-height: 180px;
}
.timeline-item:nth-child(odd) {
  left: auto;
  right: 10%;
  text-align: right;
}
.timeline-item:nth-child(even) {
  left: 52%;
  text-align: left;
}
.timeline-date {
  font-weight: bold;
  color: var(--highlight-dark);
}
.timeline-content h3,
.timeline-content h4 {
  text-align: center;
}
.timeline-content ol {
  text-align: left;
}
@media screen and (max-width: 768px) {
  .timeline::after {
    left: 20px;
  }
  .timeline-item {
    width: 90%;
    left: 10% !important;
    text-align: left !important;
    padding: 20px;
  }
}
/*Ocultar detalles por defecto*/
.timeline-content .details {
  display: none;
  margin-top: 10px;
}
/*Botón para mostrar más detalles*/
.show-more {
  background: none;
  color: var(--highlight);
  border: solid 1px var(--highlight);
  padding: 8px 12px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
  display: block;
}
.show-more:hover {
  background: var(--highlight-dark);
  color: white;
  border: none;
}

/* Estilos para el modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* Botón para mostrar el pop-up */
.show-panama {
  background: none;
  color: var(--highlight);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  display: block;
}

.show-panama:hover {
  background: #f7885c76;
  color: var(--highlight-dark);
}

/* Estilos del footer */

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 50px;
  background: var(--text-dark);
  color: white;
  text-align: left;
}
.footer-box {
  padding: 20px;
}
footer h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
footer p,
footer a {
  font-size: 1rem;
  opacity: 0.8;
  line-height: 1.5;
  color: white;
  text-decoration: none;
}
footer a {
  color: var(--highlight-light);
}
footer a:hover {
  text-decoration: underline;
}
